* {
    box-sizing: border-box;
}
body {
    background: url(https://imgur.com/1ACffud.jpeg) no-repeat fixed;
    background-color: rgb(20, 24, 24);
    background-size: 80% 100%;
    background-position: 22vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 100vh;
    margin: auto;
}
#board {
    display: grid;
    grid-template-columns: 20% 70% 20%;
    grid-template-rows: 20% 80% 20%;
    /* align-items: center;
    justify-content: center;
    flex-direction: row; */
    height: auto;
    width: auto;
    background-color: rgba(20, 24, 24, .8);
    margin-left: -700px;
}
#collectThanos {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    height: 100%;
    width: auto;
    display: flex;
    background: url("https://imgur.com/0h04Uob.jpeg") no-repeat;
    background-size: 30vh;
    background-position: center;
    background-color: rgba(0, 0, 0, .6);
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    justify-content: center;
    align-items: center;
}
#logo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
}
#logo2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: stretch;
}
#collectAvengers {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    height: 100%;
    align-self: flex-end;
    background: url("https://imgur.com/o2ZYwPy.png") no-repeat;
    background-size: 30vh;
    background-position: center;
    background-color: rgba(0, 0, 0, .6);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
#thanosPlanets {
    display: flex;
    flex-direction: row;
}
#thanosPlanets > section {
    border: 5px solid rgba(20, 24, 24, .8);
    border-radius: 10%;
    height: 15vh;
    width: 30vh;
}
#thanosPlanets > section:hover {
    border: 5px solid rgba(20, 24, 24, .8);
    border-radius: 10%;
    height: 15vh;
    width: 30vh;
    transition: all .2s ease-in-out;
    transform: scale(1.25);
}
#avengersPlanets {
    display: flex;
    flex-direction: row;
}
#avengersPlanets:hover {
    display: flex;
    flex-direction: row;
}
#avengersPlanets > section {
    border: 5px solid rgba(20, 24, 24, .8);
    border-radius: 10%;
    height: 15vh;
    width: 30vh;
}
#avengersPlanets > section:hover {
    border: 5px solid rgba(20, 24, 24, .8);
    border-radius: 10%;
    height: 15vh;
    width: 30vh;
    transition: all .2s ease-in-out;
    transform: scale(1.25);
}
#asgard {
    background: url("https://imgur.com/nFAciei.png");
    background-size: cover;
}
#earth {
    background: url("https://imgur.com/4DSpTbQ.png");
    background-size: cover;
}
#vormir {
    background: url("https://imgur.com/mruvGg3.jpeg");
    background-size: cover;
}
#sakaar {
    background: url("https://imgur.com/0Dj71F0.png");
    background-size: cover;
}
#xandar {
    background: url("https://imgur.com/VYwk4FY.png");
    background-size: cover;
}
#knowhere {
    background: url("https://imgur.com/vvWG8Lk.png");
    background-size: cover;
}
#actionPane {
    border: 5px solid rgba(20, 24, 24, .8);
    background-color: rgba(0, 0, 0, .6);
    margin-top: 30px;
    display: grid;
    grid-template-columns: 500px 1000px 500px;
    grid-template-rows: 20% 80% 20%;
}
#help, #settings {
    width: 50px;
    margin-top: -20px;
}
#help:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.25);
}
#settings:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.25);
}
#instructions {
    color: rgba(170, 171, 175, 1);
    font-size: larger;
    text-align: left;
    margin-top: -400px;
    margin-left: 70px;
    width: 900px;
    visibility: hidden;
}
.stones {
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    color: white; 
    height: 50px;
    width: 50px;
    margin-left: 60px;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#g, #n {
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    margin-top: 150px;
    margin-left: 60px;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: larger;
    align-items: center;
}
#turnT {
    color: aqua;
    font-size: larger;
    margin-left: 70px;
    margin-top: -200px;
    text-align: start;
}
#thanosGif {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 50px;
    margin-top: 40px;
    height: 15vh;
    width: 20vh;
    border-radius: 10%;
}
#turnA {
    color: aqua;
    font-size: larger;
    margin-left: 800px;
    margin-top: -195px;
    text-align: start;
}
#avengersGif {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#playAgain {
    background-color: rgba(20, 24, 24, .8);
    color: white;
    border-radius: 10%;
    border-color: lightgray;
    border-width: 5px;
}