* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: url(https://imgur.com/1ACffud.jpeg) no-repeat fixed;
    background-color: rgb(20, 24, 24);
    background-size: cover;
    background-size: 80% 100%;
    background-position: 22vh;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}
#logo {
    height: 100px;
    position: 20vh;
}
#board {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 15px solid rgba(20, 24, 24, .8);
    border-radius: 5%;
    height: 60vh;
    width: 150vh;
    background-color: rgba(20, 24, 24, .8);
}
#collectThanos {
    height: 100%;
    width: 100vh;
    background: url("https://imgur.com/b72AXbF.png") no-repeat;
    background-size: 30vh;
    background-position: center;
    background-color: black;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    /* order: 1; */
}
#midBoard {
    height: 115%;
    background: rgba(0, 0, 0, .6);
    border-radius: 10%;
}
#collectAvengers {
    height: 100%;
    width: 100vh;
    align-self: flex-end;
    background: url("https://imgur.com/o2ZYwPy.png") no-repeat;
    background-size: 30vh;
    background-position: center;
    background-color: black;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
#thanosPlanets {
    display: flex;
    flex-direction: row;
}
#thanosPlanets > div {
    border: 5px solid rgba(20, 24, 24, .8);
    border-radius: 10%;
    height: 15vh;
    width: 20vh;
}
#thanosPlanets > div {
    border: 5px solid rgba(20, 24, 24, .8);
    border-radius: 10%;
    height: 15vh;
    width: 20vh;
}
#thanosPlanets > div:hover {
    border: 5px solid rgba(20, 24, 24, .8);
    border-radius: 10%;
    height: 15vh;
    width: 20vh;
    transition: all .2s ease-in-out;
    transform: scale(1.25);
}
#actionPane {
    border: 5px solid rgba(20, 24, 24, .8);
    height: 38vh;
}
#logo {
    margin-left: 42vh;
    margin-top: 10vh;
}
#avengersPlanets {
    display: flex;
    flex-direction: row;
}
#avengersPlanets:hover {
    display: flex;
    flex-direction: row;
}
#avengersPlanets > div {
    border: 5px solid rgba(20, 24, 24, .8);
    border-radius: 10%;
    height: 15vh;
    width: 20vh;
}
#avengersPlanets > div:hover {
    border: 5px solid rgba(20, 24, 24, .8);
    border-radius: 10%;
    height: 15vh;
    width: 20vh;
    transition: all .2s ease-in-out;
    transform: scale(1.25);
}
#asgard {
    background: url("https://imgur.com/nFAciei.png");
    background-size: cover;
}
#earth {
    background: url("https://imgur.com/4DSpTbQ.png");
    background-size: cover;
}
#vormir {
    background: url("https://imgur.com/mruvGg3.jpeg");
    background-size: cover;
}
#sakaar {
    background: url("https://imgur.com/0Dj71F0.png");
    background-size: cover;
}
#xandar {
    background: url("https://imgur.com/VYwk4FY.png");
    background-size: cover;
}
#knowhere {
    background: url("https://imgur.com/vvWG8Lk.png");
    background-size: cover;
}