* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: url(https://imgur.com/1ACffud.jpeg) no-repeat fixed;
    background-color: black;
    background-size: cover;
    background-size: 80% 100%;
    background-position: 20vh;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    
}
#logo {
    height: 100px;
    position: 20vh;
}
#board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 5px solid gray;
    height: 60vh;
    width: 150vh;
}
#collectThanos {
    border: 5px solid red;
    height: 100%;
    width: 100vh;
    /* order: 1; */
}
#midBoard {
    border: 5px solid cyan;
    height: 100%;
}
#collectAvengers {
    border: 5px solid blue;
    height: 100%;
    width: 100vh;
    align-self: flex-end;
}
#thanosPlanets {
    display: flex;
    flex-direction: row;
}
#thanosPlanets > div {
    border: 5px solid red;
    height: 10vh;
    width: 20vh;
}
#actionPane {
    border: 5px solid yellow;
    height: 38vh;
}
#avengersPlanets {
    display: flex;
    flex-direction: row;
}
#avengersPlanets > div {
    border: 5px solid blue;
    height: 10vh;
    width: 20vh;
}